@model TodoListApp.WebApp.Models.VMLogin;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form asp-controller="Access" asp-action="Login" method="post">
        <h1>Login</h1>
        <input type="email" placeholder="Email" asp-for="Email" />
        <input type="password" placeholder="password" asp-for="password" />

        <label>
            <input type="checkbox" asp-for="KeepLoggedIn" />
            Keep me Logged In
        </label>
        <button type="submit"></button>

        @if(ViewData["ValidateMessage"] != null)
        {
           <br />
           <br />
            <label>@ViewData["ValidateMessage"]</label>
        }
    </form>
</body>
</html>
