@{
    Layout = "_Layout";
}

<form id="loginForm" method="post" action="/Account/Login">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="Email" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="Password" required>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>